-----BEGIN CERTIFICATE-----
MIIDVzCCAj+gAwIBAgIJAPxqkpc/aFP7MA0GCSqGSIb3DQEBCwUAMEIxCzAJBgNV
BAYTAlhYMRUwEwYDVQQHDAxEZWZhdWx0IENpdHkxHDAaBgNVBAoME0RlZmF1bHQg
Q29tcGFueSBMdGQwHhcNMTgwNTA4MDIwMTUxWhcNMTkwNTA4MDIwMTUxWjBCMQsw
CQYDVQQGEwJYWDEVMBMGA1UEBwwMRGVmYXVsdCBDaXR5MRwwGgYDVQQKDBNEZWZh
dWx0IENvbXBhbnkgTHRkMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA
s639yRxmh4r67lEockrtiF+8JeGtpXRfQMwjVDpr6Whzyh6L/T+Wu7QSNOFxbsgC
bq6kiuRnKBVNWgYfsixXTm1ep8E5k2hjLBeWftl7ejT37CHgFtiH1onx8l1o8dhl
SXoT0xa1TS74S4xoWxOtuxrOFCbGi9WiGAXkD2DYdAVIV1uLrSrpCJPSv3JmUpV/
HjPBw8gXweijeaImAkNjUsDgM1pj6+DAyzESROtUBC0j/gBRHnjOO87KpHeV4eZ/
3im29DMiMeWk1bpzWDXMG71kA8ARbNW8JGqg4Ufhz4si8YKlSqaZ6AYlAv+uxTAh
uQV60fWdNg/iyptBiinzcwIDAQABo1AwTjAdBgNVHQ4EFgQUNSfKBJvfXpFM7SUk
6m5LccvOGzowHwYDVR0jBBgwFoAUNSfKBJvfXpFM7SUk6m5LccvOGzowDAYDVR0T
BAUwAwEB/zANBgkqhkiG9w0BAQsFAAOCAQEAiM1n8QyKDjRBRGzxh2J1kCx8se5B
nmmOpMu9F5eY8k7KJ2bsdVIo8DvKm1HYS8Lu4V/BXyJGquVmdFdh8hCBfZ7exAI8
fbGj6wvm9QGVthwHHkPqIKYP5CySVgo7tomFCGHuLWk0Qv1WznUvK6Uc32Am5fl8
MrYqBBR3Ig1AJH5yoKgdU1XnlKhGRPzsKhnqq+SD1LfpRE+j3U1WtujsAuTOMuB7
mUmZwcq4ugbFCu+800ckUoRezaO1+YlKbsD5K0+ICXmMazxT3bqw5DvoNLi62qwE
gdbQ2qvTdKb6Tg7BQCPjjJoD0iYcpa5jsUGYPbsJZPDdJV9p0ljk9LIwuw==
-----END CERTIFICATE-----